<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SentryDSN</key>
	<string>https://63becc34f5324c95c4f3575252847999@o118503.ingest.us.sentry.io/4508723390316544</string>
	<key>DonateURL</key>
	<string>https://buymeacoffee.com/kopiro</string>
	<key>SUFeedURL</key>
	<string>https://kopiro.s3.amazonaws.com/soundanchor/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
